@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Domine:wght@700&display=swap');

body {
  font-family: $font-family;
  font-size: 14px;
}

.container {
  width: 1180px;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
