// font
$font-family: 'DM Sans', sans-serif;
$hero-title-font-family: 'Domine', serif;
// color
$color-green-500: #7fffd4;
$color-green-600: #65cca9;
$color-green-800: #326654;
$color-hero-green: #19332a;
$color-gray-500: #999999;
$color-navy-blue: #0047ff;
$color-navy-black: #1f1f1f;
// radius
$gutter: 6px;
